# Ignore for Rust
target/
Cargo.lock
launch.json

.DS_Store
node_modules
dist/
build/
WixTools
.build

# php
vendor/
*.cache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/*

# Editor directories and files
java/example/VaasExample/gradle/
*.DotSettings.user
.idea
*.jar
*.suo
*.ntvs*
*.njsproj
*.sw?
php/tests/vaas/.phpunit.result.cache
.gradle/
java/build/
java/.classpath
java/.project
java/.settings
java/bin
lib/
*.crt

bin/
obj/

# Python
__pycache__/
_trial_temp*/
*.zip

# Ruby
!ruby/lib
ruby/.idea
ruby/Gemfile.lock
ruby/test/test.txt

.env*