[package]
name = "vaas"
version = "0.0.0"
edition = "2021"
license = "MIT"
authors = ["GDATA CyberDefense AG"]
description = "Check files and hashes for malicious content."
readme = "Readme.md"
keywords = ["malware", "anti-virus", "security"]
categories = ["api-bindings"]
homepage = "https://github.com/GDATASoftwareAG/vaas"

[dependencies]
websockets = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
uuid = { version = "1.7", features = ["serde", "v4"] }
reqwest = { version = "0.11", features = ["stream"] }
regex = "1.10"
tokio = { version = "1.36", features = ["sync", "fs"] }
sha2 = "0.10"
futures = "0.3"
rand = "0.8"
async-trait = "0.1"
bytes = "1.5.0"
tokio-util = "0.7"
futures-util = "0.3.30"
tokio-stream = "0.1.14"

[dev-dependencies]
dotenv = "0.15"
tokio = { version = "1.36", features = ["rt", "macros", "rt-multi-thread"] }
