<phpunit>
  <testsuites>
    <testsuite name="VaasTesting">
      <file>tests/vaas/Sha256Test.php</file>
      <file>tests/vaas/VaasTest.php</file>
      <file>tests/vaas/ProtocolTest.php</file>
      <file>tests/vaas/ClientCredentialsGrantAuthenticatorTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>